@import '../../Styles/variables';
@import '../../Styles/base/button';

.fab {
  &__button {
    @extend .button;
    position: fixed;
    bottom: calc(#{4 * $spacing-scale});
    width: calc(#{$max-width} - #{2 * $spacing-scale});
    color: $primary-alternate;
    padding: calc(#{$spacing-scale} * 1.5);
    background: $primary-color;
    font-weight: bold;
    border-radius: $spacing-scale;
    font-size: calc(#{$spacing-scale} * 1.5);
    box-shadow: $primary-box-shadow;
  }
  
}