/*
===================================================
  All css util classes
===================================================
*/

.mt {
  &--1 {
    margin-top: $spacing-scale;
  }
  &--one-and-half {
    margin-top: calc(2 * #{$spacing-scale});
  }
  &--2 {
    margin-top: calc(2 * #{$spacing-scale});
  }
  &--3 {
    margin-top: calc(3 * #{$spacing-scale});
  }
  &--4 {
    margin-top: calc(4 * #{$spacing-scale});
  }
}

.pd {
  &--1 {
    padding: $spacing-scale;
  }
  &--one-and-half {
    padding: calc(1.5 * #{$spacing-scale});
  }
  &--2 {
    padding-top: calc(2 * #{$spacing-scale});
  }
}

.pt {
  &--2 {
    padding-top: calc(2 * #{$spacing-scale});
  }
}

.pb {
  &--10 {
    padding-bottom: calc(10 * #{$spacing-scale});
  }
}

._block {
  display: flex;
}

._centered {
  align-items: center;
  justify-content: center;
}

._vertical {
  flex-direction: column;
}

._fluid {
  width: 100%;
  flex-grow: 1;
}

.block  {
  &--vertical {
    &--centered {
      @extend ._block;
      @extend ._vertical;
      @extend ._centered;
      &--fluid {
        @extend ._block;
        @extend ._vertical;
        @extend ._centered;
        @extend ._fluid;
      }
    }
    &--fluid {
      @extend ._block;
      @extend ._vertical;
      @extend ._fluid;
    }
  }
}

.capitalize {
  text-transform: capitalize;
}

.sr-only {
  position:absolute;
  left:-10000px;
  top:auto;
  width:1px;
  height:1px;
  overflow:hidden;
}