/*
===================================================
  All css util classes
===================================================
*/

.mt {
  &--1 {
    margin-top: $spacing-scale;
  }
  &--2 {
    margin-top: calc(2 * #{$spacing-scale});
  }
}

._centered {
  align-items: center;
  justify-content: center;
}

._block {
  display: flex;
}

._vertical {
  flex-direction: column;
}

.block  {
  &--centered {
    @extend ._block;
    @extend ._centered;
  }
  &--vertical {
    &--centered {
      @extend ._block;
      @extend ._vertical;
      @extend ._centered;
    }
  }
}

.sr-only {
  position:absolute;
  left:-10000px;
  top:auto;
  width:1px;
  height:1px;
  overflow:hidden;
}