/*
===================================================
  Variables for controlling theme
===================================================
*/
$primary-color: #ff970a;
$secondary-color: #01b37a;
$primary-background: #fff;
$primary-box-shadow: 0 2px 10px #13000000;
$spacing-scale: 1rem;
$font-small: 0.8rem;
$font-big: 1.5rem;
