@import '../../Styles/base/button';
@import '../../Styles/variables';

.buttonCircular {
  @extend .button--round;
  background: transparent;
  height: 52px;
  width: 52px;
  overflow: hidden;
  &__label {
    border-radius: 50%;
  }
  
}