.button-default {
  display: inline-block;
  border: none;
  outline: none;
  margin: 0;
  padding: 0;
}

.button {
  @extend .button-default;
  &--round {
    @extend .button-default;
    border-radius: 50%;
  } 
}