@import '../variables';
@import '../utils';

/*
===================================================
  Base styling for card
===================================================
*/

.card {
  @extend .block;
  width: 100%;
  height: 80px;
  padding: $spacing-scale * 1.5;
  box-shadow: $primary-box-shadow;
  justify-content: space-between;
  align-items: center;
  margin-bottom: calc(#{$spacing-scale * 0.5});
  .avatar {
    border-radius: 50%;
    background-size: cover;
    margin-right: calc(#{$spacing-scale * 0.25});
    height: 50px;
    width: 50px;
    background: $secondary-background;
  }
  .content {
    @extend .block;
    @extend .vertical;
    margin-right: calc(#{$spacing-scale * 0.25});
    height: 50px;
    justify-content: space-around;
  }
  .primary-text {
    color: $primary-color;
  }
  .seondary-text {
    color: inherit;
  }
  .action {
    @extend .block;
  }
}